[remote "kadamski"]
	url = git://github.com/kadamski/func.git
	fetch = refs/heads/*:refs/remotes/kadamski/*
[remote "makkalot"]
	url = git://github.com/makkalot/func.git
	fetch = refs/heads/*:refs/remotes/makkalot/*
[remote "mhicks"]
	url = git://github.com/matthicksj/func.git
	fetch = refs/heads/*:refs/remotes/matthicks/*

[remote "alikins"]
	url = git://github.com/alikins/func-alikins-devel.git 
	fetch = refs/heads/*:refs/remotes/func-alikins-devel/*

[remote "jcapel"]
	url = git://bender.newnewyork.nl/func
	fetch = refs/heads/*:refs/remotes/func

[remote "salevan"]
	url = git://github.com/ssalevan/func/
	fetch = refs/heads/*:refs/remotes/salevan/*

[remote "nabeken"]
	url = git://github.com/nabeken/func.git 
	fetch = refs/heads/*:refs/remotes/nabeken/*

[remote "awood"]
	url = git://github.com/awood/func.git
	fetch = refs/heads/*:refs/remotes/nabeken/*

[remote "silas"]
	url = git://github.com/silas/func.git
	fetch = refs/heads/*:refs/remotes/silas/*

 
